/* use ( # ) for ids and ( . ) for classes */

body {
    background-color: #18191b;
    color: white;
    font-family: JetBrains Mono, monospace;
    margin: 0;
}

.header {
    grid-area: h;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}

.menu {
    margin-top: 13px;
    margin-bottom: 25px;

}

.break-header {
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    text-align: center;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: #35363B;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #35363B;
}

#afazeres-menu {
    padding: 5px;
    border: solid white 3px;
}

#sobre-menu {
    padding: 5px;
    border: solid white 3px;
}

.main {
    grid-area: mc;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 19px;
    text-align: center;
    border-bottom: solid white 3px;
}

.button-new {
    margin-bottom: 20px;
    background-color: inherit;
    font-family: inherit;
    font-size: 20px;
    color: inherit;
    border: solid white 3px;
}

.confirm-button {
    background-color: inherit;
    font-family: inherit;
    font-size: 15px;
    color: inherit;
    border: solid white 3px;
}

.sobre-text {
    text-align: center;
}

.check-box-wrapper {
    position: relative;
    width: 36px;
    height: 36px;
}

.checkbox {
    position: absolute;
    inset: 0;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

.check-box-mark {
    position: absolute;
    inset: 0;
    border: 3px solid white;
    background-color: inherit;
    pointer-events: none;
}

.check-box-wrapper,
.check-box-mark {
    box-sizing: border-box;
}

.check-box-wrapper .checkbox:checked+.check-box-mark {
    background-color: white;
}

.text-note {
    background-color: inherit;
    border: solid white 3px;
    color: inherit;
    font-family: inherit;
    font-size: 20px;
}

.check-flex {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.check-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.check-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer {
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    margin-bottom: 5px;
    grid-area: f;
    text-align: center;
    font-size: 15px;
}

.wrapper {
    display: grid;
    gap: 10px;
    min-height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "h"
        "mc"
        "f";
}

/* Login page CSS */

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {
    font-size: 23px;
    text-align: center;
}

.login-title>h2 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.input-login {
    background-color: inherit;
    color: white;
    border: solid white 3px;
    margin: 5px;
    font-family: inherit;
    font-size: 21px;
    width: 350px;
}

.button-login {
    background-color: inherit;
    color: white;
    border: solid white 3px;
    font-family: inherit;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.login-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
