<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <title>SUPER ORGANIZADOR 2000</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="menu">
                <nav>
                    <a href="/login" id="afazeres-menu"><strong>LOGIN</strong></a>
                    <a href="/registro" id="sobre-menu"><strong>REGISTRO</strong></a>
                </nav>
            </div>
            <div class="break-header">
                <p>A Melhor Forma de Organizar a Sua Vida!</p>
            </div>

            <div class="page-title">
                <h1>SUPER ORGANIZADOR 2000</h1>
            </div>
        </header>

        <main class="main">
            <h2>O conteúdo vai ficar aqui!</h2>
        </main>

        <footer class="footer">
            <div>
                <p>COPYRIGHT &copy; TODOS OS DIREITOS RESERVADOS - @JoaoCabralV</p>
            </div>
        </footer>
    </div>

</body>

</html>