<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <title>SUPER ORGANIZADOR 2000</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="menu">
                <nav>
                    <a href="/registro" id="afazeres-menu"><strong>REGISTRO</strong></a>
                </nav>
            </div>
            <div class="break-header">
                <p>A Melhor Forma de Organizar a Sua Vida!</p>
            </div>

            <div class="page-title">
                <a href="/">
                    <h1>SUPER ORGANIZADOR 2000</h1>
                </a>
            </div>
        </header>

        <main class="main">
            {% block content %}

            <div class="login-wrapper">
                <div class="login-box">
                    <div class="login-title">
                        <h2>LOGIN</h2>
                    </div>
                    <form action="/login" method="POST" class="form-login" id="form-to-submit">
                        <div class="user-email-login">
                            <input type="text" name="user-email-login" class="input-login"
                                placeholder="Nome de usuário ou email:" required>
                        </div>
                        <div class="senha-login">
                            <input type="password" name="senha-login" class="input-login" placeholder="Senha:" required>
                        </div>
                        <button type="submit" class="button-login">Confirmar</button>
                    </form>
                </div>
            </div>
            <script src="/static/js/submit-form.js"></script>

            {% endblock %}
        </main>

        <footer class="footer">
            <div>
                <p>COPYRIGHT &copy; TODOS OS DIREITOS RESERVADOS - @JoaoCabralV</p>
            </div>
        </footer>
    </div>
</body>

</html>