{% extends 'base.html' %}

{% block page_title %}

<div class="page-title">
    <h1>SOBRE</h1>
</div>

{% endblock %}

{% block content %}

<div class="sobre-text">
    <h2>Bem-vinda(o) ao site de organização perfeito criado pelo Mestre João Vitor</h2>
    <p>Estou tentando me organizar ainda mais e melhorar ainda mais as minhas habilidades de programação, então
        criei o:
    </p>
    <h2><strong>Super Organizador 2000 !!!</strong></h2>
    <p>Não há melhor maneira de estar em dia com os seus deveres...</p>
    <h2>As mulheres confirmam:</h2>
    <h3>Eu sou o homem mais pontual do momento.</h3>
    <p>Espelhe-se em mim e use o melhor organizador já feito!</p>
</div>

{% endblock %}